{% extends 'blogpost/base.html' %}
{% block content%}
<h1>Login</h1>
<form id="login_form" method="post" action="/login/">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    Username: <input class="mdl-textfield__input" type="text" name="username" value="" />
    <br />
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    Password: <input class="mdl-textfield__input" type="password" name="password" value="" />
    <br />
  </div>

  <input type="submit" value="submit" />
</form>
{% endblock %}
